*{
    color: white;
    text-align: center;
    margin: 0 ;
    padding: 0;
}
body, button{
    background-color: rgb(34, 34, 34);
}

.last-result{
    transition: opacity 200ms ;
}



.container{
    padding: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px auto;
    flex-wrap: wrap;
}
.card{
    background-color: black;
    width: 400px;
    border: white 1px solid;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}


.card .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.card .buttons{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.card .buttons button{
    padding: 40px 5px;
    border-radius: 6px;
    font-size: 20px;
    flex: 1 0 auto;

}